@font-face {
	font-family: "Fira Sans";
	src: url("font/FiraSans-SemiBold.otf") format("opentype");
	font-weight: bold;
}

#ejasp {

	display: none; /* hide player if javascript disabled */
	bottom: 0; left: 0;
	position: fixed;
	z-index: 4;

	font-family: "Fira Sans", "Open Sans", "Roboto", sans-serif;
	
	width: 100%;
	height: 90px;

	background-color: #0E2534;
	background-image: -o-linear-gradient(bottom right, #4F3B34, #0E2534);
	background-image: -moz-linear-gradient(top left, #4F3B34, #0E2534);
	background-image: -webkit-gradient(linear, top left, bottom right, color-stop(0, #4F3B34), color-stop(1, #0E2534));
	background-image: -webkit-linear-gradient(bottom right, #4F3B34, #0E2534);
	background-image: linear-gradient(to bottom right, #644B71, #002035);

	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4F3B34, EndColorStr=#0E2534);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4F3B34, EndColorStr=#0E2534)";

}

.ejasp_maximize_btn, .ejasp_maximize_btn_pulse {

	position: fixed;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	bottom: -16px; right: -16px;
	cursor: pointer;
	z-index: 3;

	background-color: #0E2534;
	background-image: -o-linear-gradient(bottom right, #4F3B34, #0E2534);
	background-image: -moz-linear-gradient(top left, #4F3B34, #0E2534);
	background-image: -webkit-gradient(linear, top left, bottom right, color-stop(0, #4F3B34), color-stop(1, #0E2534));
	background-image: -webkit-linear-gradient(bottom right, #4F3B34, #0E2534);
	background-image: linear-gradient(to bottom right, #644B71, #002035);

	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4F3B34, EndColorStr=#0E2534);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4F3B34, EndColorStr=#0E2534)";

}

.ejasp_maximize_btn_pulse {

	width: 60px; height: 60px;
	bottom: -24px; right: -24px;

	-webkit-animation: ejasp_maximize_pulse_keyframes 2s ease-out;
	-webkit-animation-iteration-count: infinite;

	animation: ejasp_maximize_pulse_keyframes 2s ease-out;
	animation-iteration-count: infinite;

}

/* Pulse animaiton */
@-webkit-keyframes ejasp_maximize_pulse_keyframes {

	0% {
		-webkit-transform: scale(.1, .1);
		opacity: 0;
	}
	50% { opacity: 1; }
	100% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0;
	}

}

@keyframes ejasp_maximize_pulse_keyframes {

	0% {
		transform: scale(.1, .1);
		opacity: 0;
	}
	50% { opacity: 1; }
	100% {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}

}

.ejasp_minimize_btn {

	color: white;
	font-size: 34px;
	position: absolute;
	top: 6px; right: 8px;
	line-height: 14px;
	cursor: pointer;

}

.ejasp_btn_cover_container {

	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 100px;

}

.ejasp_coverart {

	width: 60px;
	height: 60px;
	margin: auto 20px;
	position: absolute;
	top: 0; bottom: 0;
	text-align: center;
	line-height: 60px;
	border: 1px solid #363636;

}

.ejasp_playpause {

	opacity: .8;
	background: rgba(0, 0, 0, .6);
	width: 30px;
	height: 30px;
	padding: 5px;
	cursor: pointer;
	vertical-align: middle;

}

.ejasp_btn_playing {

	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;

	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	transition-delay: 2s;

	opacity: 0;

}

.ejasp_btn_playing:hover {

	-webkit-transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out;

}

.ejasp_playpause:hover, .ejasp_playpause:active { opacity: 1; }

#ejasp input[type="range"] {
	
	overflow: hidden;
	width: 250px;
	height: 10px;
	-webkit-appearance: none;
	background-color: #555555;
	margin: 0;

}

#ejasp input[type="range"]::-webkit-slider-runnable-track {

	height: 10px;
	-webkit-appearance: none;
	color: #dedede;
	margin-top: 0;

}

#ejasp input[type="range"]::-webkit-slider-thumb {

	width: 10px;
	-webkit-appearance: none;
	height: 10px;
	background: darkred;
	box-shadow: -250px 0 0 250px #dedede;

}

#ejasp input[type="range"]::-moz-range-progress { background-color: #dedede; height: 10px; }
#ejasp input[type="range"]::-moz-range-track { background-color: #555555; height: 10px; }
#ejasp input[type="range"]::-ms-fill-lower { background-color: #dedede; height: 10px; }
#ejasp input[type="range"]::-ms-fill-upper { background-color: #555555; height: 10px; }

#ejasp input[type="range"]:focus { outline: 0; }
#ejasp input[type="range"]::-moz-focus-outer { border: 0; }

#ejasp input[type="range"]::-moz-range-thumb {

	height: 10px;
	width: 10px;
	background: darkred;
	border: 0;
	border-radius: 0;

}

#ejasp input[type=range]::-ms-track {

	width: 250px;
	height: 10px;
	color: transparent;

}

#ejasp_streamtitle { font-weight: bold; }

@media screen and (max-width: 460px) {

	#ejasp_streamtitle span {
		font-size: .75em;
		letter-spacing: -.15px;
	}

	/* Increase volume bar height for easier usage on mobile devices */
	#ejasp input[type="range"] { height: 18px; }
	#ejasp input[type="range"]::-webkit-slider-runnable-track { height: 18px; }
	#ejasp input[type="range"]::-webkit-slider-thumb { height: 18px; }
	#ejasp input[type="range"]::-moz-range-progress { height: 18px; }
	#ejasp input[type="range"]::-moz-range-track { height: 18px; }
	#ejasp input[type="range"]::-moz-range-thumb { height: 18px; width: 14px; }

}

@media screen and (max-width: 370px) {

	#ejasp { text-align: center; }
	#ejasp div { text-align: left; }

	.ejasp_btn_cover_container { width: 74px; }

	.ejasp_coverart {
		text-align: center !important;
		margin-left: 4px;
		margin-right: 8px;
	}

	#ejasp input[type="range"] { width: 140px; }

}

